@model IEnumerable<sociosphere.Models.announcement>

<h2>Announcements</h2>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <strong>@item.Announcement</strong>
            <br />
            <small class="text-muted">Announced on: @item.AnnounceDate</small>
        </li>
    }
</ul>
